            <h1>Добавить конкурс</h1>
            <form class="form add_konkurs_form">
                <fieldset>
                    <div class="special_block">
                        <div class="avatar_block">
                            <img src="img/no_ava.jpg" alt="">
                            <button class="grey_button">Добавить изображение</button>
                        </div>
                    </div>
                    <div class="usual_block">
                        <div class="form_row">
                            <label>Название</label>
                            <input type="text"/>
                        </div>
                        <div class="form_row">
                            <label>Описание</label>
                            <textarea></textarea>
                        </div>
                        </div>
                        <div class="form_row">
                            <label>Тип конкурса:</label>
                            <div class="radio_button"><input type="radio" name="role" id="role_1" tabindex="1" checked="checked"/> <label for="role_1">Общий</label></div>
                            <div class="radio_button"><input type="radio" name="role" id="role_2" tabindex="2" /> <label for="role_2">Спонсорский</label></div>
                            <div class="radio_button"><input type="radio" name="role" id="role_3" tabindex="3" /> <label for="role_3">Благотворительный</label></div>
                        </div>
                        <!--div class="form_row">
                            <label>Бюджет</label>
                            <input type="text"/>
                        </div>
                        <div class="form_row">
                            <label>Первоначальный взнос</label>
                            <input type="text"/>
                        </div-->
                        <div class="form_row">
                            <label>Как выбрать победителя:</label>
                            <div class="radio_button"><input type="radio" name="role_2" id="role_4" tabindex="1" checked="checked"/> <label for="role_4">Жюри</label></div>
                            <div class="radio_button"><input type="radio" name="role_2" id="role_5" tabindex="2" /> <label for="role_5">Голосование</label></div>
                        </div>
                        <div class="form_row">
                        <!--    <div class="special_block">
                                <div class="avatar_block">
                                    <img src="img/no_ava.jpg" alt="">
                                    <button class="grey_button">Добавить изображение</button>
                                </div>
                            </div>
                            <div class="usual_block">
                                <div class="form_row">
                                    <label>Название</label>
                                    <input type="text"/>
                                </div>
                                <div class="form_row">
                                    <label>Описание</label>
                                    <textarea></textarea>
                                </div>
                            </div>
                            <div class="form_row">
                            <button class="yellow_button small_button">Добавить еще</button>
                            </div>
                        </div>  -->
                        <div class="form_row">
                            Начало: <input type="text" class="small"/>
                            Конец: <input type="text" class="small"/>
                        </div>
                    <div class="form_row">
                        <input type="submit" value="Добавить конкурс">
                    </div>
                </fieldset>
            </form>