<!-- ko with : critic -->
<h1 data-bind="text : name"></h1>
<div class="row">
	<div class="item_block">
		<img src="img/img_2.jpg" alt=""/>
		<div class="user_text">
			<a data-bind="text : user_nick, attr : { href : '#User/' + user_id }"></a><br/>
			<p data-bind="text : description"></p>
			<p class="reiting">Рейтинг:<b>267</b></p>
		</div>
	</div>
</div>
<!-- /ko  -->
<form class="form edit_form" data-bind="submit : add_coment, visible : can_add" method="POST">
	<fieldset>
		<div class="usual_block">
			<div class="form_row">
				<label>Комментарий</label>
				<textarea data-bind="value: new_coment"></textarea>
			</div>
			</div>
		
		<div class="form_row">
			<input type="submit" value="Добавить">
		</div>
	</fieldset>
</form>

<div class="row" data-bind="visible : comments().length > 0">
	<h2>Комментарии</h2>
	<div class="comment_list" data-bind="foreach : comments">
		<div class="comment_block">
			<img  data-bind="attr : { src : avatar_path, alt : user_nick }" style="width : 36px; height: 36px;"/>
			<div class="comment_text">
				<a data-bind="text : user_nick, attr : { href : '#User/' + user_id }"></a>
				<span class="date" data-bind="text : date"></span>
				<p data-bind="text : text"></p>
			</div>
		</div>
	</div>
		
	<div class="pager" data-bind="visible : pages().length > 1">
		<ul data-bind="foreach: pages ">
			<li><a data-bind="text: $data, css: {active : $data == $parent.page()}, click : $parent.go_to_page">1</a></li>
		</ul>
	</div>
</div>