			<h1>Список фотграфий</h1>
			<div class="row">
				<ul class="user_choice">
					<li>
						<a href="#" class='active'>Проффесионалы</a>
					</li>
					<li>
						<a href="#">Любители</a>
					</li>
				</ul>
				<div class="user_list">
					<div class="user_block">
						<img src="img/big_ava.jpg" alt=""/>
						<div class="user_text">
							<h3><a href="#critic/1">Мишки в лесу</a></h3>
							<a href="#">Blackrainbow</a>
							<p>Меня сложно найти, легко потерять и невозможно забыть</p>
							<div class="critic_block">
								<a href="#">&mdash;</a>
								<span>226</span>
								<a href="#">+</a>
							</div>
						</div>
					</div>
					<div class="user_block">
						<img src="img/big_ava.jpg" alt=""/>
						<div class="user_text">
							<h3><a href="#critic/1">Мишки в лесу</a></h3>
							<a href="#">Blackrainbow</a>
							<p>Меня сложно найти, легко потерять и невозможно забыть</p>
							<div class="critic_block">
								<a href="#">&mdash;</a>
								<span>226</span>
								<a href="#">+</a>
							</div>
						</div>
					</div>
					<div class="user_block">
						<img src="img/big_ava.jpg" alt=""/>
						<div class="user_text">
							<h3><a href="#critic/1">Мишки в лесу</a></h3>
							<a href="#">Blackrainbow</a>
							<p>Меня сложно найти, легко потерять и невозможно забыть</p>
							<div class="critic_block">
								<a href="#">&mdash;</a>
								<span>226</span>
								<a href="#">+</a>
							</div>
						</div>
					</div>
					<div class="user_block">
						<img src="img/big_ava.jpg" alt=""/>
						<div class="user_text">
							<h3><a href="#critic/1">Мишки в лесу</a></h3>
							<a href="#">Blackrainbow</a>
							<p>Меня сложно найти, легко потерять и невозможно забыть</p>
							<div class="critic_block">
								<a href="#">&mdash;</a>
								<span>226</span>
								<a href="#">+</a>
							</div>
						</div>
					</div>
					<div class="user_block">
						<img src="img/big_ava.jpg" alt=""/>
						<div class="user_text">
							<h3><a href="#critic/1">Мишки в лесу</a></h3>
							<a href="#">Blackrainbow</a>
							<p>Меня сложно найти, легко потерять и невозможно забыть</p>
							<div class="critic_block">
								<a href="#">&mdash;</a>
								<span>226</span>
								<a href="#">+</a>
							</div>
						</div>
					</div>
					<div class="user_block">
						<img src="img/big_ava.jpg" alt=""/>
						<div class="user_text">
							<h3><a href="#critic/1">Мишки в лесу</a></h3>
							<a href="#">Blackrainbow</a>
							<p>Меня сложно найти, легко потерять и невозможно забыть</p>
							<div class="critic_block">
								<a href="#">&mdash;</a>
								<span>226</span>
								<a href="#">+</a>
							</div>
						</div>
					</div>
					<div class="user_block">
						<img src="img/big_ava.jpg" alt=""/>
						<div class="user_text">
							<h3><a href="#critic/1">Мишки в лесу</a></h3>
							<a href="#">Blackrainbow</a>
							<p>Меня сложно найти, легко потерять и невозможно забыть</p>
							<div class="critic_block">
								<a href="#">&mdash;</a>
								<span>226</span>
								<a href="#">+</a>
							</div>
						</div>
					</div>
					<div class="user_block">
						<img src="img/big_ava.jpg" alt=""/>
						<div class="user_text">
							<h3><a href="#critic/1">Мишки в лесу</a></h3>
							<a href="#">Blackrainbow</a>
							<p>Меня сложно найти, легко потерять и невозможно забыть</p>
							<div class="critic_block">
								<a href="#">&mdash;</a>
								<span>226</span>
								<a href="#">+</a>
							</div>
						</div>
					</div>
					<div class="user_block">
						<img src="img/big_ava.jpg" alt=""/>
						<div class="user_text">
							<h3><a href="#critic/1">Мишки в лесу</a></h3>
							<a href="#">Blackrainbow</a>
							<p>Меня сложно найти, легко потерять и невозможно забыть</p>
							<div class="critic_block">
								<a href="#">&mdash;</a>
								<span>226</span>
								<a href="#">+</a>
							</div>
						</div>
					</div>
					<div class="pager">
						<ul>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#" class="active">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
						</ul>
					</div>
				</div>
			</div>