			<h1>Мишки в лесу</h1>
			<div class="row">
				<div class="item_block">
						<img src="img/img_2.jpg" alt=""/>
						<div class="user_text">
							<a href="#">Blackrainbow</a><br/>
							<p>Меня сложно найти, легко потерять и невозможно забыть</p>
							<p class="reiting">Рейтинг:<b>267</b></p>
						</div>
					</div>
				</div>
			<div class="row">
				<h2>Комментарии</h2>
				<div class="comment_list">
					<div class="comment_block">
						<img src="img/ava_1.jpg" alt="" />
						<div class="comment_text">
							<a href="#">Зайчик</a>
							<span class="date">15/12/2003</span>
							<p>Это шедеврально!!!!!</p>
						</div>
					</div>
					<div class="comment_block">
						<img src="img/ava_1.jpg" alt="" />
						<div class="comment_text">
							<a href="#">Зайчик</a>
							<span class="date">15/12/2003</span>
							<p>Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen</p>
						</div>
					</div>
					<div class="comment_block">
						<img src="img/ava_1.jpg" alt="" />
						<div class="comment_text">
							<a href="#">Зайчик</a>
							<span class="date">15/12/2003</span>
							<p>Это шедеврально!!!!!</p>
						</div>
					</div>
					<div class="comment_block">
						<img src="img/ava_1.jpg" alt="" />
						<div class="comment_text">
							<a href="#">Зайчик</a>
							<span class="date">15/12/2003</span>
							<p>Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen</p>
						</div>
					</div>
					<div class="comment_block">
						<img src="img/ava_1.jpg" alt="" />
						<div class="comment_text">
							<a href="#">Зайчик</a>
							<span class="date">15/12/2003</span>
							<p>Это шедеврально!!!!!</p>
						</div>
					</div>
					<div class="comment_block">
						<img src="img/ava_1.jpg" alt="" />
						<div class="comment_text">
							<a href="#">Зайчик</a>
							<span class="date">15/12/2003</span>
							<p>Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen</p>
						</div>
					</div>
					<div class="comment_block">
						<img src="img/ava_1.jpg" alt="" />
						<div class="comment_text">
							<a href="#">Зайчик</a>
							<span class="date">15/12/2003</span>
							<p>Это шедеврально!!!!!</p>
						</div>
					</div>
					<div class="comment_block">
						<img src="img/ava_1.jpg" alt="" />
						<div class="comment_text">
							<a href="#">Зайчик</a>
							<span class="date">15/12/2003</span>
							<p>Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen Lorem ipsum dolor sit amen</p>
						</div>
					</div>
				</div>
					
					<div class="pager">
						<ul>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#" class="active">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
						</ul>
					</div>
				</div>