			<h1>Дуэли</h1>
			<div class="row">
				<ul class="user_choice">
					<li>
						<a href="#" class='active'>Открытые</a>
					</li>
					<li>
						<a href="#">Закрытые</a>
					</li>
				</ul>
				<div class="user_list">
					<div class="battle_block">
						<div class="left_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
						<div class="right_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
					</div>
					<div class="battle_block">
						<div class="left_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
						<div class="right_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
					</div>
					<div class="battle_block">
						<div class="left_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
						<div class="right_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
					</div>
					<div class="battle_block">
						<div class="left_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
						<div class="right_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
					</div>
					<div class="battle_block">
						<div class="left_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
						<div class="right_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
					</div>
					<div class="battle_block">
						<div class="left_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
						<div class="right_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
					</div>
					<div class="battle_block">
						<div class="left_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
						<div class="right_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
					</div>
					<div class="battle_block">
						<div class="left_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
						<div class="right_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
					</div>
					<div class="battle_block">
						<div class="left_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
						<div class="right_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
					</div>
					<div class="battle_block">
						<div class="left_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
						<div class="right_battle">
							<img src="img/big_ava.jpg" alt=""/>
							<div class="buttle_text">
								<a href="#">BlackRainbow</a>
								<p>Мишка в лесу</p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
					</div>
					<div class="pager">
						<ul>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#" class="active">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
						</ul>
					</div>
				</div>
			</div>