			<h1>Дуэли</h1>
			<div class="row">
		<ul class="user_choice">
			<li>
				<a data-bind="click : set_open, css : { 'active' : type() == 'Открытая' }" >Открытые</a>
			</li>
			<li>
				<a data-bind="click : set_close, css : { 'active' : type() == 'Закрытая' }">Закрытые</a>
			</li>
		</ul>
				<div class="user_list">
					<!-- ko foreach : items -->
					<div class="battle_block">
						<div class="left_battle">
							<img  data-bind="attr : { src : avatar_path1 , alt : name1 }"/>
							<div class="buttle_text">
								<a data-bind="attr : { href : '#User/' + user_id1 }, text : user_nick1"></a>
								<p data-bind="text : name1"></p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
						<div class="right_battle">
							<img  data-bind="attr : { src : avatar_path2 , alt : name2 }"/>
							<div class="buttle_text">
								<a data-bind="attr : { href : '#User/' + user_id2 }, text : user_nick2"></a>
								<p data-bind="text : name2"></p>
								<button class="yellow_button small_button">Нравится</button>
								<p class="reiting">222 голоса</p>
							</div>
						</div>
					</div>
					<!-- /ko -->
		<div class="pager" data-bind="visible : pages().length > 1">
			<ul data-bind="foreach: pages ">
				<li><a href="#" data-bind="text: $data, css: {active : $data == $parent.page()}">1</a></li>
			</ul>
		</div>
				</div>
			</div>