<h1>Редактирование</h1>
<form class="form edit_form" data-bind="submit : save" method="POST">
	<!-- ko with : user --> 
	<fieldset>
		<div class="special_block">
			<div class="avatar_block">
				<img data-bind="attr:{src : avatar_path() }" alt="" style="width : 150px; height: 150px;">
				<div id="photo-upload" >Изменить изображение</div>
			</div>
		</div>
		<div class="usual_block">
			<div class="form_row">
				<label>Имя</label>
				<input data-bind="value: name" type="text"/>
			</div>
			<div class="form_row">
				<label>Ник</label>
				<input data-bind="value: nick" type="text"/>
			</div>
			<div class="form_row">
				<label>О себе</label>
				<textarea data-bind="text: description"></textarea>
			</div>
			</div>
		
		<div class="form_row">
			<input type="submit" value="Сохранить изменения">
		</div>
	</fieldset>
	<!-- /ko -->
</form>