<ul data-bind="foreach : top_users">
    <li>
        <img src="" data-bind="attr : { src : avatar_path}">
        <a href="#" data-bind="text: nick"></a>
        <span data-bind="text : name"></span>
    </li>
</ul>


<ul data-bind="foreach : top_images">
    <li>
        <img src="" data-bind="attr : { src : $data}">
    </li>
</ul>

<div data-bind="with : current_batle"> 
    <img data-bind="attr : { src : image_path}">
    <span data-bind="text : name"></span>
</div>


<div data-bind="with : winner"> 
    <img data-bind="attr : { src : photo_path}">
    <span data-bind="text : photo_name"></span>
    <span data-bind="text : user_name"></span>
</div>

