            </header>
            <h1 data-bind="text : title">Зимняя сказка</h1>
            <p class="time"><span data-bind="text : start">16.02.2012</span>-<span data-bind="text : end">19.12.2013</span></p>
            <div class="row">
                <div class="user_block personal_block">
                        <img src="img/konkurs_ava.jpg" alt=""/>
                        <div class="user_text">
                            <p data-bind="text : description">Снег, коты, пушинки счастье</p>
                            <p class="type"><span data-bind="text : sale_type">Благотворительный</span> конкурс</p>
                        </div>
                        <a href="#" class="yellow_button small_button">Присоединиться</a>
                    </div>
                </div>
            <div class="row">
                <h2>Галлерея</h2>               
                <div class="user_info_block">
                    <span class="count_items">220 участников</span>
                    <div class="user_gallery">
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <a href="#">Bansky</a>
                            <span>Мишки в лесу</span><br/>
                            <span><i>226 голосов</i></span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <a href="#">Bansky</a>
                            <span>Мишки в лесу</span><br/>
                            <span><i>226 голосов</i></span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <a href="#">Bansky</a>
                            <span>Мишки в лесу</span><br/>
                            <span><i>226 голосов</i></span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <a href="#">Bansky</a>
                            <span>Мишки в лесу</span><br/>
                            <span><i>226 голосов</i></span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <a href="#">Bansky</a>
                            <span>Мишки в лесу</span><br/>
                            <span><i>226 голосов</i></span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <a href="#">Bansky</a>
                            <span>Мишки в лесу</span><br/>
                            <span><i>226 голосов</i></span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <a href="#">Bansky</a>
                            <span>Мишки в лесу</span><br/>
                            <span><i>226 голосов</i></span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <a href="#">Bansky</a>
                            <span>Мишки в лесу</span><br/>
                            <span><i>226 голосов</i></span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <a href="#">Bansky</a>
                            <span>Мишки в лесу</span><br/>
                            <span><i>226 голосов</i></span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <a href="#">Bansky</a>
                            <span>Мишки в лесу</span><br/>
                            <span><i>226 голосов</i></span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <a href="#">Bansky</a>
                            <span>Мишки в лесу</span><br/>
                            <span><i>226 голосов</i></span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                    </div>
                    
                    <div class="pager">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#" class="active">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                </div>