<div class="aside_part">
				<h4>Список конкурсов</h4>
				<ul data-bind="foreach : contests">
					<li>
						<img  data-bind="attr : { src : image_path, alt : title }" style="width : 36px; height: 36px;"/>
						<div class="text_part">
							<a href="#" data-bind="text : title, attr : { href : '#konkurs/' + _id }"></a><br/>
							<span data-bind="text : sale_type"></span>
						</div>
					</li>
				</ul>
				<a href="#list_of_konkurs" class="grey_button">Все конкурсы</a>
			</div>