<div class="aside_part">
				<h4>Список конкурсов</h4>
				<ul>
					<li>
						<img src="img/ava_1.jpg" alt="Вася Пупкин"/>
						<div class="text_part">
							<a href="#">Зимний пейзаж</a><br/>
							<span>профессиональный</span>
						</div>
					</li>
					<li>
						<img src="img/ava_2.jpg" alt="Вася Пупкин"/>
						<div class="text_part">
							<a href="#">Осень</a><br/>
							<span>благотворительный</span>
						</div>
					</li>
					<li>
						<img src="img/ava_1.jpg" alt="Вася Пупкин"/>
						<div class="text_part">
							<a href="#">Зимний пейзаж</a><br/>
							<span>профессиональный</span>
						</div>
					</li>
					<li>
						<img src="img/ava_2.jpg" alt="Вася Пупкин"/>
						<div class="text_part">
							<a href="#">Осень</a><br/>
							<span>благотворительный</span>
						</div>
					</li><li>
						<img src="img/ava_1.jpg" alt="Вася Пупкин"/>
						<div class="text_part">
							<a href="#">Зимний пейзаж</a><br/>
							<span>профессиональный</span>
						</div>
					</li>
					<li>
						<img src="img/ava_2.jpg" alt="Вася Пупкин"/>
						<div class="text_part">
							<a href="#">Осень</a><br/>
							<span>благотворительный</span>
						</div>
					</li>
				</ul>
				<a href="#list_of_konkurs" class="grey_button">Все конкурсы</a>
			</div>