<h1>Регистрация</h1>
            <form class="form register_form" data-bind="submit : save" method="POST">
                <fieldset>
                     <!-- ko with : user --> 
                    <div class="form_row">
                        <label>Имя</label>
                        <input type="text" data-bind="value : name"/>
                    </div>
                    <div class="form_row">
                        <label>Nickname</label>
                        <input type="text" data-bind="value : nick"/>
                    </div>
                    <div class="form_row">
                        <label>Мотто</label>
                        <input type="text" data-bind="value : description"/>
                    </div>
                    <div class="form_row">
                        <label>E-mail</label>
                        <input type="email" data-bind="value : email"/>
                    </div>
                    <div class="form_row">
                        <label>Пароль</label>
                        <input type="password" data-bind="value : password"/>
                    </div>
                    <div class="form_row">
                        <label>Повторите пароль</label>
                        <input type="password" data-bind="value : repeat_password"/>
                    </div>
                    <div class="form_row">
                        <input type="radio" name="role" id="role_1" value="amateur" data-bind="checked : type"  /> <label for="role_1">Любитель</label>
                        <input type="radio" name="role" id="role_2" value="professional" data-bind="checked : type"  /> <label for="role_2">Профессионал</label>
                    </div>
                    <!-- /ko -->
                    <div class="form_row">
                        <input type="submit" value="Зарегестрироваться" >
                    </div>
                </fieldset>
            </form>