<div class="row">
				<div class="competition_row">
					<h1>Информация для спонсоров</h1>
					<div class="list_competitions">
					<p style="text-indent: 20px;" align="justify"><img src="img/sponsor.jpg"  alt="Иллюстрация" align="left" vspace="5" hspace="5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </br>tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, </br>
							quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo </br>consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto </br>dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait </br>
                            nulla facilisi.</br>
                        </p>
                        <p style="text-indent: 20px;" align="justify">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </br>tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, </br>
							quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo </br>consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto </br>dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait </br>
                            nulla facilisi.
						</p>
						</br>

						<p style="text-indent: 20px;" align="justify">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod cidunt ut laoreet dolore magna aliquam</br> erat volutpat. Ut wisi enim ad minim veniam, 
							quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo</br> consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto dignissim qui blandit praesent luptatum zzril</br> delenit augue duis dolore te feugait 
                            nulla facilisi.
						</p>
					</div>
				</div>
			</div>