
<div class="inner wrapper">
	<div class="row">
		<ul class="user_choice">
			<li>
				<a data-bind="click : set_professional, css : { 'active' : type() == 'professional' }" >Профессионалы</a>
			</li>
			<li>
				<a data-bind="click : set_amateur, css : { 'active' : type() == 'amateur' }">Любители</a>
			</li>
		</ul>
		<div class="user_list" data-bind="foreach: users">
			<div class="user_block">
				<img  data-bind="attr : {src : avatar_path}"  style="width : 150px; height: 150px;"/>
				<div class="user_text">
					<h3><a  data-bind="text : nick, attr : { href : '#User/' + _id }"></a></h3>
					<p data-bind="text: name"></p>
					<p data-bind="text: description"></p>
					<p class="reiting">Рейтинг:<b data-bind="text: rating">267</b></p>
				</div>
				<a href="#" class="yellow_button small_button">Вызвать на дуэль</a>
			</div>
		</div>
		<div class="pager" data-bind="visible : pages().length > 1">
			<ul data-bind="foreach: pages ">
				<li><a href="#" data-bind="text: $data, css: {active : $data == $parent.page()}">1</a></li>
			</ul>
		</div>
		<br />
	</div>
</div>