            <h1 data-bind="text : name"></h1>
            <div class="row">
                <div class="user_block personal_block">
                        <img  alt="" data-bind="attr : { src : avatar_path}" style="width : 150px; height: 150px;"/>
                        <div class="user_text">
                            <p data-bind="text : description"></p>
                            <p class="reiting">Рейтинг:<b data-bind="text : rating"></b></p>
                        </div>
                        <a data-bind="attr : {href : '#EditUser/' + _id}" class="yellow_button small_button">Редактировать</a>
                    </div>
                </div>
            <div class="row">
                <ul class="user_choice">
                    <li>
                        <a href="#" class='active'>Фотографии</a>
                    </li>
                    <li>
                        <a href="#">Блог</a>
                    </li>
                    <li>
                        <a href="#">Конкурсы</a>
                    </li>
                    <li>
                        <a href="#">Критика</a>
                    </li>
                    <li>
                        <a href="#">Дуэли</a>
                    </li>
                </ul>
                <div class="user_info_block">
                    <div class="add_item">
                        <a href="javascript:void(0)" data-bind="click : add_photo">Добавить фотографию</a>
                    </div>
                    <div class="user_gallery">
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                        <div class="photo_item">
                            <img src="img/small_img_1.jpg" alt=""/>
                            <span>Мишки в лесу</span>
                            <span class="date">26/05/11</span>
                            <a href="#" class="more_button">Подробнее</a>
                        </div>
                    </div>
                    
                    <div class="pager">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#" class="active">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>